<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Perfil</h1>
		</div>
		<div class="panel-body">
			<p><b>Nombre: </b><%= @profile.name %></p>
		</div>
		<div class="panel-body">
			<p><b>Profesión: </b><%= @profile.profession %></p>
		</div>
		<div class="panel-body">
			<p><b>Edad: </b><%= @profile.age %></p>
		</div>
	</div>
	<%= link_to "Regresar", "/perfil", class:"btn btn-success" %>
</div>